//background-color

$c16  : #2c60a8;
$c01  : #011025;
$c02  : #131E2F;
$c03  : #26364D;
$footer:#0E2242;
$input:#253855;
$c08  : #4776B3;
$bho:#4776B3;
$c04  : rgba(255, 255, 255, 0.1);;
$c7b  : #7B8A90;
$c00  : #000000;
$c99  : #999999;
$c097 : #097BAA;
$cff  : #ffffff;
$c82  : #82AEC0;
$c6a  : #6A99AC;
$cdb  : #DBE4E9;
$cf1  : #F1F6F9;
$c80  : #808588;
$c03  : #00354A;
$bgbody:#F3F8FB;
$cf2:#F2F6FB;
$ce2:#E2ECF4;



//transition

$tr1: .3s ease;
$tr2: .4s ease;
$tr3: .5s ease;

$font-inter: 'Montserrat', sans-serif;